.newsletter-latest
{
    grid-row: s/e;
    grid-column: newsletter-s/newsletter-e;
    
    display: grid;
    grid-template-rows: [s] 25.8rem [m] 40.5rem [e];
    grid-template-columns: [s] 1fr [e];
    

    & > *
    {
        grid-column: s/e;
    }

    &__title
    {
        grid-row: s/m;
        justify-self: center;
    }

    &__image
    {
        grid-row: s/m;
        justify-self: center;
        
        z-index: -10;
    }

    &__body
    {
        grid-row: m/e
    }
}